.home-container {
  height: 100vh;
  background: linear-gradient(135deg, #d5ade8, #e7d5e5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.content-box {
  background-color: #eae3ea;
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #9b4ce5;
}

.slogan{
  color: #775993;
}

.subtitle {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.start-btn {
  background-color: #9b4ce5;
  color: white;
  font-size: 1.1rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-btn:hover {
  background-color: #512c74;
}
